@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-center">
    <h1 class="display-4">Welcome to Sym Tom</h1>
    <p>I am here to keep track of what ails you!</p>
    <h7>Click on me to get started!</h7>
    <br />


    <a href="/Symptom/Add">
        <img src="https://www.wethegoverned.com/wp-content/uploads/2017/11/Mr-Helpful.jpg" width="610" height="510" align="middle">

    </a>
</div>
