@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-lg-center">
        <h1 class="display-4">Welcome to Sym Tom</h1>
    </div> 
    <div class="card-deck float-left border-secondary" >
        <div class="card">
            <div class="card-header">I am here to keep track of what ails you!</div>
            <div class="card-body">Click on me to get started!</div>
        </div>
    </div>
    
    <div class="rounded float-left " >
        <a href="/Symptom/Add" class="border">
            <img src="https://www.wethegoverned.com/wp-content/uploads/2017/11/Mr-Helpful.jpg" width="610" height="510" align="middle">

        </a>
    </div>
