@{
    ViewData["Title"] = "Home Page";
}

<div class="text-lg-center ">
    <h1 class="display-4">Welcome to Sym Tom</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">

            <div class="card shadow">
                <div class="card-header">I am here to keep track of what ails you!</div>
                <div class="card-body">Click on the heart to get started</div>
            </div>

        </div>
        <div class="col ">
            <div class="rounded ">
                <a href="/Symptom/Add">
                    <img  style="border:1px solid black;" src="https://lh6.googleusercontent.com/proxy/D2ptDGTOio2m9c0-fjUc4Ay9Ev0h5RBAA_UWIvlC1S70sCw_1xC6fCfh3MVRme26JdAsIMAOj0_D87Y-k_V5ikKpf_5Fb9KxQmX_QFhO1dljrWigVD1vCXn9v_7sEx4ImRN1Ys05IpEBETeFj5arFAyDHbcFg5FPs7qSdt0e9cWguCmZkYgE5l0IfEGrjR2N6w" width="400" height="300">

                </a>

            </div>
        </div>
    </div>
</div>
