@model List<SymTom.Models.Symptom>

<h1>All of Your Symptoms</h1>

@if (Model.Count == 0)
{
    <p>No Symptoms Saved!</p>
}





    <table class="table table-bordered  table-striped ">

        <tr>
            <th>Location</th>
            <th>Name</th>
            <th>Date</th>
            <th>Severity</th>
        </tr>

        @foreach (var symptom in Model)
        {
            <tr>
                <td>@symptom.Location</td>
                <td>@symptom.Name</td>
                <td>@symptom.Date</td>
                <td>@symptom.Severity</td>
            </tr>
        }
    </table>

<p><a class="btn btn-outline-primary btn-sm" asp-controller="Symptom" asp-action="Add">Add Symptom</a>
<p><a class="btn btn-outline-primary btn-sm" asp-controller="Symptom" asp-action="Remove">Remove Symptom</a>
<p><a class="btn btn-outline-primary btn-sm" asp-controller="SMS" asp-action="Send">Send My Symptom(s)</a>


@using (Html.BeginForm("Index", "CreatePdf"))
{
    <button class="btn btn-outline-primary btn-sm" id="submitButton" type="submit">Create Pdf</button>

}
    </p>
